personal.el
flycheck*.org
/emacs-config.html
/auto/frag-master.el
/frag-master.tex
*.oft
apps/.ipython/profile_default/db/
apps/.ipython/profile_default/history.sqlite
apps/.ipython/profile_default/startup/README
